In [6]:
DATABASE_URI_NEW = "postgresql+psycopg2://dbudyqehphowvj:ce19f33d1898777e99ec500d4651375b6deb8f98bb8d4caa5a3254e97126e527@ec2-34-198-189-252.compute-1.amazonaws.com:5432/d1gel5ia1af8fe"
from sqlalchemy import create_engine
import pandas as pd
db = create_engine(DATABASE_URI_NEW)



table_df = pd.read_sql_table(
    "listings",
    con=db
)

In [20]:
sql_df = pd.read_sql(
    "SELECT * FROM reviews where listing_id=3781",
    con=db,
    # chunksize=10 # returns iterator/generator
)

In [21]:
for i in sql_df:
    print(type(i))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>